table {
    text-align: center;
}

h1 {
    color: blue;
    font-style: oblique;
    font-size: 30pt
}

h2 {
    color: blueviolet;
    font-style: italic;
    font-size: 25pt
}

.Time {
    font-style: normal;
    font-weight: bold;
    font-size: 14pt;
    color: black
}

.Subject {
    font-style: italic;
    font-weight: bold;
    font-size: 17pt;
    color: palevioletred
}