table {
        border: solid 1px;
        width: 100%
}

h1 {
        color: red
}

h2 {
        color: green
}

footer.content {
        color: blueviolet
}

#back {
        display: block;
        position: fixed;
        right: 20px;
        top: 80%;
        display: block;
        height: 160px;
        width: 33px;
        line-height: 50px;
        transition: all .7s ease-out;
}

footer {
        color: blue
}

section {
        border: gray solid 2px
}

article {
        padding: 15px;
        margin: 10px;
        border: grey solid 1px;
        color: brown
}