table {
    border-collapse: collapse;
    border: solid 2px black
}

th {
    color: aliceblue;
    background-color: darkgreen;
    text-align: left
}

th, td {
    padding: 1px;
    border: solid 1px black
}

tr:nth-of-type(2n+2) {
    background-color: coral
}

#name {
    width: 100px
}

#color {
    width: 120px
}

#hard {
    width: 210px
}