table {
    background-color: aqua;
    border-spacing: 0px
}

th {
    height: 20px;
    text-align: left;
    font-size: 14px
}

td {
    font-size: 10pt;
    margin: 0px;
    padding: 3px;
    border: 1px solid gray;
    background-color: azure
}

#empty {
    border: 0px;
    background-color: aqua
}